[submodule "hpmpc"]
	path = external/hpmpc
	url = https://github.com/giaf/hpmpc.git
[submodule "blasfeo"]
	path = external/blasfeo
	url = https://github.com/giaf/blasfeo.git
[submodule "qpdunes"]
	path = external/qpDUNES-dev
	url = https://github.com/acados/qpDUNES-dev.git
[submodule "catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
[submodule "swig"]
	path = external/swig
	url = https://github.com/jaeandersson/swig
	branch = matlab
	ignore = dirty
[submodule "external/hpipm"]
	path = external/hpipm
	url = git@github.com:giaf/hpipm.git
