[submodule "hpmpc"]
	path = external/hpmpc
	url = https://github.com/giaf/hpmpc.git
	branch = stable
[submodule "blasfeo"]
	path = external/blasfeo
	url = https://github.com/giaf/blasfeo.git
[submodule "qpdunes"]
	path = external/qpdunes
	url = https://github.com/acados/qpDUNES-dev.git
[submodule "catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
[submodule "swig"]
	path = external/swig
	url = https://github.com/jaeandersson/swig
	branch = matlab
	ignore = dirty
[submodule "hpipm"]
	path = external/hpipm
	url = https://github.com/giaf/hpipm.git
	branch = stable
[submodule "qpoases"]
	path = external/qpoases
	url = https://github.com/acados/qpOASES.git
[submodule "external/osqp"]
	path = external/osqp
	url = https://github.com/oxfordcontrol/osqp.git
	branch = develop
